RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(news)/([0-9]+)/$ page.php?id=$2 [L]

RewriteRule ^(news)/(page-)([0-9]+)/$ index.php?page=$3 [L]

RewriteRule ^(news/)$ index.php [L]

